:root {
    --primary-green: hsl(75, 94%, 57%);
    
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 20%);
    --neutral-darkGrey: hsl(0, 0%, 12%);
    --neutral-offBlack: hsl(0, 0%, 8%);

    --fs-s: 0.65rem;
    --fs-m: 0.9rem;
    --fs-l: 1.25rem;
    --fs-xl: 1.5rem;

    --fw-m: 400;
    --fw-l: 600;
    --fw-xl: 700;

    --ff: 'Inter', sans-serif, serif;
}

@font-face {
    font-family: 'Inter';
    src:  url(fonts/Inter-VariableFont_slnt\,wght.ttf); 
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
    background-color: var(--neutral-offBlack);
    color: var(--neutral-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: var(--neutral-darkGrey);
    margin: auto 2rem;;
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    border-radius: 0.5rem;
    text-align: center;
    /* min-width: 24rem; */
}

img {
    border-radius: 50%;
    height: 5rem;
}

h1 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-l);
    padding-top: 1.75rem;
}

h2 {
    color: var(--primary-green);
    font-size: var(--fs-m);
    padding: 0.5rem;
}

p {
    padding: 1.25rem 1.25rem 0.75rem;
}

ul {
    list-style-type: none;
}

li {
    background-color: var(--neutral-grey);
    padding: .875rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--neutral-white);
    font-weight: var(--fw-l);
}

footer {
    font-size: var(--fs-s);
    color: var(--neutral-grey);
}

footer a {
    color: var(--neutral-grey);
}

a :hover {
    color: var(--primary-green);
}

@media (max-width: 28rem) {
    p {
        padding-left: 0;
        padding-right: 0;
    }
}


